*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shape{
  min-height: 100vh;
  // width: 100%;
  background: conic-gradient(black 3deg, red 3deg 15deg, black 15deg 16deg, blue 16deg 19deg, black 19deg 20deg, red 20deg 24deg, black 24deg 25deg, blue 25deg 31deg, black 30deg 31deg, red 31deg 39deg, black 39deg 41deg, blue 41deg 43deg, black 43deg 44deg, red 44deg 66deg, black 66deg 67deg, blue 67deg 70deg, black 70deg 71deg, red 71deg 116deg, black 116deg 119deg, blue 119deg 121deg, black 121deg 123deg, red 122deg 133deg, black 133deg 134deg, blue 134deg 143deg, black 143deg 144deg, red 127deg 157deg, black 157deg 160deg, blue 160deg 165deg, black 165deg 168deg, red 168deg 188deg, black 188deg 191deg, blue 191deg 195deg, black 195deg 196deg, red 196deg 215deg, black 215deg 216deg, blue 216deg 220deg, black 220deg 223deg, red 223deg 266deg, black 266deg 267deg, blue 267deg 271deg, black 271deg 272deg, red 272deg 279deg, black 279deg 282deg, blue 282deg 287deg, black 287deg 289deg, red 289deg 319deg, black 319deg 322deg, blue 322deg 328deg, black 328deg 330deg, red 330deg 357deg, black 357deg 358deg, blue 358deg);
}
.shape div{
  // red 16deg 59deg,
  // black 9deg 10deg,
  // blue 10deg 15deg,
  // black 15deg 16deg,
  // blue 358deg 3deg,
  // black 15deg 16deg,
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  position: absolute;
  top: 50%;
  width: 380px;
  height: 480px;
  // margin: 20% 0;
}
#expt{
  // background-color: #191418;
  // background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
// display: none;
  z-index: 31;
  background-image: paint(demo3b);
  // mask-image: paint(demo3b);
  // display: none;

}
// .shape div:nth-of-type(2){
//   // z-index: 15;
//   background-color: #fbd70f;//yellow
//   -webkit-mask-image: paint(demo3b);
//   mask-image: paint(demo3b);
// }
#pop{
  // display: none;
  // background-color: #f5e0c7;
  z-index: 25;
  background-image: paint(demo3a);
// height: 450px;
}
#blue{
  // display: none;
  background-color: #f5f9fc;
  background-image: radial-gradient(#1b4282 30%, #122182 32%, #1a237e12 33%), radial-gradient(#1b4282 30%, #14248e 32%, #1a237e08 33%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
  // background-repeat: round;
  // z-index: 25;
  // height: 480px;
  // width: 520px;
  -webkit-mask-image: paint(demo3c);
  mask-image: paint(demo3c);

}
#outline{
  background-color: #282a2c;
  // height: 480px;
  // width: 520px;
  -webkit-mask-image: paint(demo3d);
  mask-image: paint(demo3d);
}
p{
  position: absolute;
  top: 93px;
  left: 43%;
  font-family: 'Cantora One', sans-serif;
  // text-align: center;
  line-height: 2.3;
  text-shadow: 4px 4px 0 #232325, -4px 4px 0 #232325, -4px -4px 0 #232325, 6px 8px 0 #232325;
  font-size: 134px;
  color: #f52e14;
  letter-spacing: -28px;
  // margin-top: 1.5em;
  transform: translateX(-50%) rotateZ(-10deg) skew(-5deg, -3deg);

}
span{
  position: relative;
  // transform: rotateY(31deg);
  display: inline-block;
}
span:first-of-type{
  z-index: 55;
}
