*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  --stars: 322;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(black, black);
  background-image: paint(demo);
  overflow-x: hidden;
}
